@font-face {
  font-family: IRANSans;
  src: url("../fonts/IRANSans/IRANSansWeb.woff") format("woff"), url("../fonts/IRANSans/IRANSansWeb_Bold.woff") format("woff"),
    url("../fonts/IRANSans/IRANSansWeb_Light.woff") format("woff"), url("../fonts/IRANSans/IRANSansWeb_Medium.woff") format("woff");
}

/* global styles */

* {
  font-family: IRANSans;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f1fbff;
}

main {
  overflow: hidden;
}

.section-padding {
  padding: 100px 0;
}

.w-100 {
  height: 100vh;
}

/* progressive bar styles */

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 0.2rem;
  background: linear-gradient(to right, #5fff87, #71ffd0);
  width: 0;
  z-index: 100;
  transition: width 0.2s ease-out;
}

/* navbar styles */

.navbar-toggler,
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar-toggler i {
  font-size: 25px;
}

.navbar-nav a {
  position: relative;
  font-size: 15px;
  font-weight: 500;
}

.navbar-nav a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #157347;
  transition: all 0.5s ease-in-out;
}

.navbar-nav a:hover::before {
  width: 100%;
}

.navbar-light .navbar-brand {
  color: #000;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #000;
}

.navbar-light .navbar-nav .navbar-link {
  color: #000;
}

/* carousel styles */

.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000064;
  z-index: 1;
}

/* sections header */

.section-header span {
  position: relative;
  margin: 0 2rem;
  min-width: 5rem;
}

.section-header span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 150px;
  background: #c8c8c8;
  width: 8rem;
  height: 1px;
  text-align: left;
  line-height: normal !important;
}

.section-header span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 150px;
  background: #c8c8c8;
  width: 8rem;
  height: 1px;
  text-align: right;
  line-height: normal !important;
}

/* services */

.services .card {
  transition: all 0.5s ease-in-out;
}

.services .card:hover {
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.208);
}

.services .card-body i {
  font-size: 50px;
}
.services .card-body p {
  font-size: 16px;
  line-height: 2;
}

/* portfolio */

.portfolio .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease-in-out;
}
.portfolio .card:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.208);
}
.portfolio .card-body p {
  font-size: 14px;
  line-height: 2;
}

/* team */

.team .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.team .card-body i {
  font-size: 20px;
  cursor: pointer;
}

.team .card-body i:hover {
  color: #157347 !important;
}

.team .card-body p {
  font-size: 15px;
  line-height: 2;
}

/* responsive mode */

@media only screen and (min-width: 767px) and (max-width: 991px) {
  /* carousel styles */
  .carousel-caption {
    bottom: 370px;
  }
  .carousel-caption p {
    width: 100%;
  }
  /* card styles */
  .card {
    margin-bottom: 30px;
  }
  /* card image styles */
  .img-area img {
    width: 100%;
    max-height: 20rem;
  }
}

@media only screen and (max-width: 767px) {
  /* nav styles */
  .navbar-nav {
    text-align: center;
  }
  /* carousel styles */
  .carousel-item img {
    object-fit: fill;
  }
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption h5 {
    font-style: 17px;
  }
  .carousel-caption a {
    padding: 0.8rem 1rem;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
  /* section header styles */
  .section-header span:before {
    left: 130px;
    width: 5rem;
  }
  .section-header span:after {
    right: 130px;
    width: 5rem;
  }
  /* about styles */
  .about-text {
    margin-top: 50px;
  }
  /* card styles */
  .card {
    margin-bottom: 30px;
  }
}
